@font-face {
  font-family: "Georgia";
  src: url(../../assets/fonts/Georgia/georgia.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(../../assets/fonts/Arial/arial.ttf);
}

html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1cdb3;
}

.wrapper_mainpages {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 187px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo .logo_title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  color: #545454;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  line-height: 110%;
  padding-bottom: 9px;
  padding-top: 1px;
}

.logo .logo_subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-indent: 4px;
}

.header_main-pages {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1280px;
  padding: 30px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: #ffffff;
  z-index: 5;
}

@media screen and (max-width: 1279px) {
  .header_main-pages {
    padding: 30px 29px;
  }
}

@media screen and (max-width: 767px) {
  .header_main-pages {
    padding: 30px 10px;
  }
}

.nav_main-pages {
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 442px;
}

.nav_main-pages .logo_burger {
  display: none;
  position: relative;
  top: 33px;
  left: 11px;
}

.nav_main-pages .list_main-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 29px;
  margin-right: 3px;
  text-indent: -2px;
}

@media screen and (max-width: 767px) {
  .nav_main-pages .list_main-pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 192px;
  }
}

.nav_main-pages .list_main-pages .nav_link {
  font-family: Arial;
  color: #545454;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.nav_main-pages .list_main-pages .nav_link:hover {
  color: #292929;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 767px) {
  .nav_main-pages .list_main-pages .nav_link {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .nav_main-pages {
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: -120%;
    width: 320px;
    height: 100vh;
    background-color: #f6f6f6;
    z-index: 7;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
}

@media screen and (max-width: 767px) {
  .list_items {
    margin-bottom: 41px;
  }
}

.active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 4px;
  color: #292929 !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #888;
}

.main_main-pages {
  width: 100%;
}

.button_primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #f1cdb3;
  padding: 15px 45px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -2px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_primary:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.pets-button .button_primary {
  width: 261px;
}

.pets {
  width: 100%;
  height: 1342px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 1279px) {
  .pets {
    height: auto;
  }
}

.slider__container {
  height: 930px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 435px 435px;
  -ms-grid-columns: 270px 270px 270px 270px;
      grid-template: 435px 435px /270px 270px 270px 270px;
  gap: 30px 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1279px) {
  .slider__container {
    -ms-grid-rows: 435px 435px 435px;
    -ms-grid-columns: 270px 270px;
        grid-template: 435px 435px 435px /270px 270px;
    overflow: hidden;
    height: 1400px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .slider__container {
    -ms-grid-rows: 435px 435px 435px;
    -ms-grid-columns: 270px;
        grid-template: 435px 435px 435px /270px;
    overflow: hidden;
    height: 1400px;
    margin: 0 auto;
  }
}

.pets-content {
  height: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1279px) {
  .pets-content {
    width: 100%;
    height: auto;
  }
}

.pets_heading {
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 80px;
  margin-bottom: 45px;
}

@media screen and (max-width: 1279px) {
  .pets_heading {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .pets_heading {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 286px;
    margin-top: 42px;
    margin-bottom: 28px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 930px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .slider {
    padding-bottom: 77px;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    padding-bottom: 44px;
  }
}

.card-image {
  margin-bottom: 30px;
  width: 100%;
}

.pets_card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  border-radius: 9px;
  overflow: hidden;
}

.pets_card:hover {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  background-color: #ffffff;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.pets_card:hover .button_secondary {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
  height: 52px;
  gap: 20px;
}

@media screen and (max-width: 1279px) {
  .slider__navigation {
    margin-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .slider__navigation {
    margin-top: 18px;
    width: 300px;
    gap: 10px;
  }
}

/*
.slider_page:hover {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  &:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  }
}*/
.button_secondary {
  width: 187px;
  height: 52px;
  padding: 14px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: none;
  cursor: pointer;
}

.button_secondary:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.card-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.button-arow {
  background: none;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-arow_active {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}

.button-arow_active:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.button-arow_disable {
  cursor: default;
}

.footer_main-pages {
  width: 100%;
  height: 350px;
  background-image: url(../../assets/images/Footer.png);
  padding: 40px 40px 0 40px;
}

@media screen and (max-width: 1279px) {
  .footer_main-pages {
    padding: 13px 64px 0 64px;
    height: 638px;
    background-image: url(../../assets/images/footer_768.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  .footer_main-pages {
    padding: 12px 10px 0 10px;
    background-image: url(../../assets/images/footer_320.jpg);
    height: 810px;
  }
}

.footer_main-pages .footer-content {
  width: 1200px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer_main-pages .footer-content {
    width: 640px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .footer_main-pages .footer-content {
    width: 300px;
  }
}

.footer_main-pages .footer-content .contact {
  width: 278px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer_main-pages .footer-content .contact {
    width: 300px;
  }
}

.footer_main-pages .footer-content .location {
  width: 302px;
  height: 234px;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
  margin-bottom: 36px;
  margin-top: 17px;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 25px;
    text-align: center;
    width: 300px;
  }
}

.loc-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .loc-heading {
    font-size: 25px;
    text-align: center;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 39px;
  }
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.mail a {
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.mail a:hover {
  color: #fddcc4;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .mail {
    margin: 0 auto 36px auto;
    width: 253px;
  }
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.phone a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 767px) {
  .phone {
    margin: 0 auto 36px auto;
  }
}

.loc-boston {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.loc-boston a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-boston a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 767px) {
  .loc-boston {
    margin-bottom: 37px;
  }
}

.boston-adr {
  margin-right: 0;
}

.loc-london {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loc-london a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-london a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.marg {
  margin-right: 20px;
}

@media screen and (max-width: 1279px) {
  .footer-puppy {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    margin-top: 81px;
  }
}

@media screen and (max-width: 767px) {
  .footer-puppy {
    width: 260px;
    margin-top: 59px;
  }
}

@media screen and (max-width: 767px) {
  .footer_puppy_foto {
    width: 100%;
  }
}

.toggleButton {
  display: none;
}

@media screen and (max-width: 767px) {
  .toggleButton {
    display: block;
    position: absolute;
    top: 42px;
    right: 53px;
    z-index: 10;
  }
}

.owerlof {
  display: none;
}

.hide {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 5;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

/*

@media screen and (max-width: 767px ){
  .nav_main-pages {
    display: none;
  }
}
*/
.burger-menu_active {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #f6f6f6;
  z-index: 7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
  @media screen and (max-width: 374px) {
    width: 100%;
  }*/
}

.burger-menu_active .logo_burger {
  display: none;
  position: relative;
  top: 33px;
  left: 11px;
}

.toggleButton div,
.toggleButton:before,
.toggleButton:after {
  width: 30px;
  height: 3px;
  content: "";
  background-color: #292929;
  display: block;
  border-radius: 0px;
  margin: 7px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active_menu {
  position: fixed;
  top: 41px;
  right: 43px;
}

.active_menu:before {
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
          transform: translateY(-50%) rotateZ(-90deg);
  margin-top: 20px;
  margin-left: 15px;
}

.active_menu:after {
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
          transform: translateY(-50%) rotateZ(-90deg);
  margin-top: -10px;
  margin-left: 35px;
}

.active_menu div {
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
          transform: translateY(-50%) rotateZ(-90deg);
  margin-top: -10px;
  margin-left: 25px;
}

.logo_burger {
  display: none;
}
/*# sourceMappingURL=style.css.map */