@import "../../pages/main/partials/variables";
@import "../../pages/main/partials/fonts";

html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-primary;
}

.wrapper_mainpages {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 187px;
  height: 60px;
  display: flex;
  cursor: pointer;

  flex-direction: column;
  .logo_title {
    font-family: $font_Headings;
    font-weight: 400;
    font-size: 32px;
    color: $color-dark-l;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    line-height: 110%;
    padding-bottom: 9px;
    padding-top: 1px;
  }
  .logo_subtitle {
    font-family: $font_text;
    font-weight: 400;
    font-size: 13px;
    color: $color-dark-3xl;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    line-height: 15px;
    text-indent: 4px;
  }
}

.header_main-pages {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1280px;
  padding: 30px 39px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: $color-light-xl;
  z-index: 5;

  @media screen and (max-width: 1279px) {
    padding: 30px 29px;
  }
  @media screen and (max-width: 767px) {
    padding: 30px 10px;
  }
}

.nav_main-pages {
  height: 27px;
  display: flex;
  align-items: center;
  width: 442px;
  .logo_burger {
    display: none;
    position: relative;
    top: 33px;
    left: 11px;
  }
  .list_main-pages {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-top: 29px;
    margin-right: 3px;
    text-indent: -2px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 192px;
      //margin-left: -39px;
    }
    .nav_link {
      font-family: $font_text;
      color: $color-dark-l;
      font-weight: 400;
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $color-dark-3xl;
        transition-duration: 0.2s;
      }
      @media screen and (max-width: 767px) {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        margin-bottom: 40px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
    display: flex;
    position: fixed;
    top: 0;
    right: -120%;
    width: 320px;
    height: 100vh;
    background-color: $color-light-l;
    z-index: 7;
    align-items: flex-start;
    //justify-content: center;
    //padding: 0 0 0 39px;
    flex-direction: column;
    transition: 1.5s;
  }
}

.list_items {
  @media screen and (max-width: 767px) {
    margin-bottom: 41px;
  }
}

.active {
  border-bottom: 3px solid $color-primary;
  padding-bottom: 4px;
  color: $color-dark-3xl !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #888;
}

.main_main-pages {
  width: 100%;
}

.button_primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: $color-primary;
  padding: 15px 45px;
  font-family: $font_Headings;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -2px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    background-color: $color-primary-light;
    transition-duration: 0.2s;
  }
  .pets-button & {
    width: 261px;
  }
}

.pets {
  width: 100%;
  height: 1342px;
  background-color: $color-light-l;
  //padding: 80px 40px 100px 40px;
  @media screen and (max-width: 1279px) {
    height: auto;
  }
}

.slider__container {
  // width: 1200px;
  height: 930px;
  display: grid;
  grid-template: 435px 435px /270px 270px 270px 270px;
  gap: 30px 40px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-left: 10px; //!!!
  padding-right: 10px; //!!!!!!!!!
  @media screen and (max-width: 1279px) {
    grid-template: 435px 435px 435px /270px 270px;
    overflow: hidden;
    height: 1400px;
    margin: 0 auto;
  }
  @media screen and (max-width: 767px) {
    grid-template: 435px 435px 435px /270px;
    overflow: hidden;
    height: 1400px;
    margin: 0 auto;
  }
}

.pets-content {
  //width: 1200px;
  height: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1279px) {
    width: 100%;
    height: auto;
  }
}

.pets_heading {
  width: 400px;
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  margin-top: 80px;
  margin-bottom: 45px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: 767px) {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 286px;
    margin-top: 42px;
    margin-bottom: 28px;
  }
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 930px;
  align-items: center;
  @media screen and (max-width: 1279px) {
    padding-bottom: 77px;
    height: auto;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 44px;
  }
}

.card-image {
  margin-bottom: 30px;
  width: 100%;
}

.pets_card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 9px;
  overflow: hidden;

  &:hover {
    //border: 2px solid $color-primary;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    background-color: $color-light-xl;
    transform: scale(1.03);
    .button_secondary {
      background-color: $color-primary-light;
      transition-duration: 0.2s;
    }
  }
}

.slider__navigation {
  display: flex;
  width: 340px;
  height: 52px;
  gap: 20px;

  @media screen and (max-width: 1279px) {
    margin-top: 18px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 18px;
    width: 300px;
    gap: 10px;
  }
}
/*
.slider_page:hover {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  &:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  }
}*/

.button_secondary {
  width: 187px;
  height: 52px;
  padding: 14px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;

  color: $color-dark-3xl;
  background: none;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-light;
    transition-duration: 0.2s;
  }
}

.card-title {
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  margin-bottom: 30px;
}

.button-arow {
  background: none;
  width: 52px;
  height: 52px;
  // border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 0;
  border: none;
  //cursor: pointer;
}

.button_left {
  cursor: default
}

.button-arow_active {
  &:hover {
    background-color: $color-primary-light;
    transition-duration: 0.2s;
    cursor: pointer;
  }
  
}


.button-arow_disable {
  cursor: default;
}

.footer_main-pages {
  width: 100%;
  height: 350px;
  background-image: url(../../assets/images/Footer.png);
  padding: 40px 40px 0 40px;
  @media screen and (max-width: 1279px) {
    padding: 13px 64px 0 64px;
    height: 638px;
    background-image: url(../../assets/images/footer_768.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 767px) {
    padding: 12px 10px 0 10px;
    background-image: url(../../assets/images/footer_320.jpg);
    height: 810px;
  }

  .footer-content {
    width: 1200px;
    height: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 1279px) {
      width: 640px;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      width: 300px;
    }

    .contact {
      width: 278px;
      height: 234px;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 767px) {
        width: 300px;
      }
    }
    .location {
      width: 302px;
      height: 234px;
    }
  }
}

.title {
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
  margin-bottom: 36px;
  margin-top: 17px;
  @media screen and (max-width: 767px) {
    font-size: 25px;
    text-align: center;
    width: 300px;
  }
}

.loc-heading {
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 16px;
  @media screen and (max-width: 767px) {
    font-size: 25px;
    text-align: center;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 39px;
  }
}

.mail {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  a {
    text-decoration: none;
    color: $color-primary;

    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
    }
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto 36px auto;
    width: 253px;
  }
}
.phone {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $color-primary;

    text-decoration: none;
    color: $color-primary;
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
      transition-duration: 0.2s;
    }
  }
  @media screen and (max-width: 767px) {
    margin: 0 auto 36px auto;
  }
}

.loc-boston {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  a {
    text-decoration: none;
    color: $color-primary;

    text-decoration: none;
    color: $color-primary;
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
      transition-duration: 0.2s;
    }
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 37px;
  }
}

.boston-adr {
  margin-right: 0;
}
.loc-london {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $color-primary;
    text-decoration: none;
    color: $color-primary;
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
      transition-duration: 0.2s;
    }
  }
}

.marg {
  margin-right: 20px;
}

.footer-puppy {
  @media screen and (max-width: 1279px) {
    align-self: center;
    margin: 0 auto;
    margin-top: 81px;
  }
  @media screen and (max-width: 767px) {
    width: 260px;
    margin-top: 59px;
  }
}

.footer_puppy_foto {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.toggleButton {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    top: 42px;
    right: 53px;
    z-index: 10;
  }
}
.owerlof {
  display: none;
}

.hide {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 5;
  transition: 1.5s;
}

/*

@media screen and (max-width: 767px ){
  .nav_main-pages {
    display: none;
  }
}
*/

.burger-menu_active {
  display: none;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 7;
  align-items: flex-start;
  //justify-content: center;
  //padding: 0 0 0 39px;
  flex-direction: column;

  .logo_burger {
    display: none;
    position: relative;
    top: 33px;
    left: 11px;
  }
  /*
  @media screen and (max-width: 374px) {
    width: 100%;
  }*/
}

.toggleButton div,
.toggleButton:before,
.toggleButton:after {
  width: 30px;
  height: 3px;
  content: "";
  background-color: $color-dark-3xl;
  display: block;
  border-radius: 0px;
  margin: 7px 0;
  transition: 0.5s;
}

.active_menu {
  position: fixed;
  top: 41px;
  right: 43px;
}

.active_menu:before {
  transform: translateY(-50%) rotateZ(-90deg);
  margin-top: 20px;
  margin-left: 15px;
}
.active_menu:after {
  transform: translateY(-50%) rotateZ(-90deg);

  margin-top: -10px;
  margin-left: 35px;
}
.active_menu div {
  transform: translateY(-50%) rotateZ(-90deg);
  margin-top: -10px;
  margin-left: 25px;
}

.logo_burger {
  display: none;
}


/*modal*/
.modal-window {
  width: 900px;
  height: 500px;
  position: fixed;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:none;
  z-index: 500;
  border-radius: 9px;

  @media screen and (max-width:1279px){
    width: 682px;
    height: 402px;
  }
  @media screen and (max-width:767px){
    width: 271px;
    height: auto;
  }
}

.modal-background {
  //display: none;
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 400;
  
}
.modal-close-button {
  width: 52px;
  height: 52px;
  background-image: url(../../assets/images/modal_close_button.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  right: -52px;
  top: -52px;
  margin-left: auto;
  &:hover {
    background-color: $color-primary-light;
    border-radius: 50px;
    position: absolute;
    right: -52px;
    top: -52px;
  }
}

.modal-content {
  width: 900px;
  //height: 500px;
  background-color: $color-light-s;
  display: flex;
  flex-direction: row;
  border-radius: 19px;
  pointer-events: none;
  @media screen and (max-width:1279px){
  width: 630px;    
  }
  @media screen and (max-width:767px){
  width: 240px;
  padding: 10px;
  }
}

div.on_modal {
  position: fixed;
  content: '';
  min-width: 952px;
  min-height: 552px;
   display: block;
  background: none;
  border: 2px red solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:none;
  z-index: 1000;
  border-radius: 9px;
  pointer-events: none;

  @media screen and (max-width:1279px){
    width: 682px;
    height: 402px;
  }
  @media screen and (max-width:767px){
    width: 271px;
    height: 392px;
  }
}

.modal-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 50px;
  @media screen and (max-width:1279px){
    margin-top: 10px;
    margin-right: 9px;
    }
}
.pets_card.activated {
  background: #ccc;
}

.modal-image {
  width: 500px;
  height: 500px;
  margin-right: 29px;
  border-radius: 9px;
  @media screen and (max-width:1279px){
    width: 350px;
    height: 350px;
    margin-right: 11px;
  }
  @media screen and (max-width:767px){
display: none;
  }
}

.modal-title {
font-family: $font_Headings;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: #000000;
margin-bottom: 10px;
@media screen and (max-width:767px){
  text-align: center;
}
}
.modal-subtitle {
font-family:  $font_Headings;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: #000000;
margin-bottom: 40px;
@media screen and (max-width:1279px){
  margin-bottom: 20px;
  }
  @media screen and (max-width:767px){
    text-align: center;
  }

}

.modal-description {
font-family: $font_Headings;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
letter-spacing: 0.06em;
color: #000000;
margin-bottom: 40px;
@media screen and (max-width:1279px){
  margin-bottom: 20px;
  font-size: 13px;
}
  @media screen and (max-width:767px){
   text-align: justify;
  }
}

.modal-list{
  list-style: $color-primary;
  margin-left: 20px;
}

.modal-list-item {
  color: $color-primary;
  margin-bottom: 11px;
  @media screen and (max-width:1279px){
    margin-bottom: 6px;
    }
}

.list-span-title {
font-family: 'Georgia';
font-style:normal;
font-weight: 900;
font-size: 15px;
line-height: 110%;
/* identical to box height, or 17px */
letter-spacing: 0.06em;
color: #000000;
}

.list-span-info {
  font-family: 'Georgia';
font-style:normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* identical to box height, or 17px */
letter-spacing: 0.06em;
color: #000000;
}

.close-button-hover {  
    background-color: $color-primary-light;
    border-radius: 50px;
  cursor: pointer;
  position: absolute;
  right: -52px;
  top: -52px;
}


.page_number {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: $color-primary;  
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
  }
}