@import "../../pages/main/partials/variables";
@import "../../pages/main/partials/fonts";


html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
 background-color: $color-primary;
 
}

.wrapper_mainpages {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 184px;
  height: 60px;
  display: flex;
  cursor: pointer;

  flex-direction: column;
  .logo_title {
    font-family: $font_Headings;
    font-weight: 400;
    font-size: 32px;
    color: $color-dark-l;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    line-height: 110%;
    padding-bottom: 10px;
  }
  .logo_subtitle {
    font-family: $font_text;
    font-weight: 400;
    font-size: 13px;
    color: $color-dark-3xl;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    line-height: 15px;
    text-indent: 2px;
  }
}

.header_main-pages {
  width: 100%;
  max-width: 1280px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  background-color: $color-light-xl;

}

.nav_main-pages {
  height: 27px;
  display: flex;
  align-items: center;
  width: 442px;
  .list_main-pages {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    margin-top: 29px;
    margin-right: 3px;
    text-indent: -2px;
    .nav_link {
      font-family: $font_text;
      color: $color-dark-l;
      font-weight: 400;
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        color: $color-dark-3xl;
        transition-duration: 0.2s;
      }
      /*&:active {
        color: $color-dark-3xl;
      }*/
    }
  }
}

.active {
  border-bottom: 3px solid $color-primary;
  padding-bottom: 4px;
  color: $color-dark-3xl !important;
}

a.disabled {
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  cursor: default; /*  курсор в виде стрелки */
  color: #888; /* цвет текста серый */
}

.main_main-pages {
  width: 100%;
}

.button_primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: $color-primary;
  padding: 15px 45px;
  font-family: $font_Headings;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -2px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    background-color: $color-primary-light;
    transition-duration: 0.2s;
  }
  .pets-button & {
    width: 261px;
  }
}

.pets {
  width: 100%;
  height: 1342px;
  background-color: $color-light-l;
  //padding: 80px 40px 100px 40px;
}

.slider__container {
  width: 1200px;
  height: 930px;
  display: grid;
  grid-template: 435px 435px /270px 270px 270px 270px;
 gap: 30px 40px;
 margin-bottom: 60px;
 margin-left: auto;
 margin-right: auto;
 padding-top: 16px;
}

.pets-content {
  width: 1200px;
  height: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.pets_heading {
  width: 400px;
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  margin-top: 80px;
  margin-bottom: 45px;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 930px;
  align-items: center; 
}

.pets_card {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 6px;

  
  &:hover {
    border: 2px solid $color-primary;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    background-color: $color-light-xl;
    .button_secondary {
      background-color: $color-primary-light;
      transition-duration: 0.2s;
    }
  }
}

.slider__navigation {
display: flex;
width: 340px;
height: 52px;
gap: 20px;
}

.slider_page:hover {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  &:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  }
}

.button_secondary {
  width: 187px;
  height: 52px;
  padding: 14px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -3.5px;
  color: $color-dark-3xl;
  background: none;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-light;
    transition-duration: 0.2s;

  }
}

.card-title {
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  margin-bottom: 30px;
}

.card-image {
  margin-bottom: 30px;
  width: 99%;
}

.button-arow {
  background:none;
  width: 52px;
  height: 52px;
 // border: 2px solid #f1cdb3;
 border-radius: 100px;
 padding: 0;
 border: none;
  cursor: pointer;
  //background-color: $color-light-xl;
  
}
.button-arow_active:hover {
  background-color: $color-primary-light;
  transition-duration: 0.2s;
 // transform: scale(1.1);
 // -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
 // -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  //box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
}

.button-arow_disable {
  cursor:default;
}


.footer_main-pages {
  width: 100%;
  height: 350px;
  background-image: url(../../assets/images/Footer.png);
  padding: 40px 40px 0 40px;
  .footer-content {
    width: 1200px;
    height: 310px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contact {
      width: 278px;
      height: 234px;
      display: flex;
      flex-direction: column;
    }
    .location {
      width: 302px;
      height: 234px;
    }
  }
}

.title {
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
  margin-bottom: 36px;
  margin-top: 17px;
}

.loc-heading {
  font-family: $font_Headings;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 16px;
}

.mail {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
  a {
    text-decoration: none;
    color: $color-primary;

    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
    }
  }
}
.phone {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $color-primary;

    text-decoration: none;
    color: $color-primary;
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
      transition-duration: 0.2s;
    }
  }
}

.loc-boston {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
  a {
    text-decoration: none;
    color: $color-primary;

    text-decoration: none;
    color: $color-primary;
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
      transition-duration: 0.2s;
    }
  }
}

.boston-adr {
  margin-right: 0;
}
.loc-london {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: $color-primary;
    text-decoration: none;
    color: $color-primary;
    font-family: $font_Headings;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
    &:hover {
      color: $color-primary-light;
      text-decoration: underline;
      transition-duration: 0.2s;
    }
  }
}

.marg {
  margin-right: 20px;
}
