@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic,900italic);
@import './components/page/footer.scss';
@import './components/page/header.scss';

$font-main: 'Montserrat';

.body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.root {
  width: 1440px;
  background: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 100vw;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 100vw;
  }
}


.main {
  display: flex;
}














.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 75px;
  width: 100%;
}

.list-item {
  list-style: none;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 18px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 16px;
  }
}


.button,
.button-main {
  background: #10b981;
  box-shadow: 0px 25px 50px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 100%;
  height: 70px;
  border: none;
  outline: none;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 20px;
    height: 60px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 18px;
    height: 50px;
  }


}

.button_active {
  background: #b637f1;
  box-shadow: 0px 25px 50px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  width: 100%;
  height: 70px;
  border: none;
  outline: none;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 20px;
    height: 60px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 18px;
    height: 50px;
  }
}

.button:hover {
  cursor: pointer;
  background: #2EE59D;
}

.prod-img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.prod-img-wrapper {
  width: auto;
  max-width: 95%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}


.button-container {
  width: 100%;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    flex-wrap: wrap;
    gap: 0px;
    margin-bottom: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 10px;
  }

}

.root__filters {
  width: 250px;
  padding-top: 50px;
  padding-right: 5px;
}

.prod-item {
  width: 360px;
  height: 460px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background: #e0efff;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 250px;
    height: 350px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 250px;
    height: 350px;
  }
}


.card-heart {
  position: relative;
  left: 148px;
  top: 6px;
  width: 40px;
  height: 55px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/445/445140.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    left: 95px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    left: 95px;
  }


}

.card-heart_active {
  position: relative;
  left: 148px;
  top: 6px;
  width: 40px;
  height: 55px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/445/445058.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    left: 95px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    left: 95px;
  }
}


.content-wrapper {
  width: 360px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background: none;
  padding: 10px;
  padding-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  margin-top: -50px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 230px;
    height: 350px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 230px;
    height: 350px;
  }

}

.title-wrapper {
  width: 320px;
  height: 165px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 15px;
  padding-left: 15px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 230px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 230px;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.button-wrapper {
  height: 100px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: flex-end;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    height: 70px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    height: 70px;
  }

}



.prod-item:nth-child(4n + 4) {
  background-color: rgb(203, 250, 238);
}

.prod-item:nth-child(3n + 2) {
  background: #e5d5ff;
}

.prod-item:nth-child(3n + 3) {
  background-color: rgb(200, 248, 255);
}

.prod-item:hover {
  transition: 0.5s;
  background-color: white;
  box-shadow: 0px 15px 50px rgba(46, 131, 158, 0.07);
}

.item-descb {
  overflow: hidden;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: small;
}

.item-title {
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: #2b2626;
  margin-top: 0px;
  margin-bottom: 5px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 16px;
    line-height: 18px;
    padding-left: 10px;
  }


}

.item-price {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #2b2626;
  margin-left: auto;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 18px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 18px;
  }

}

.star {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.item-rating-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 20px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    padding-right: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    padding-right: 10px;
  }

}

.reviews {
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 35px;
  color: #888888;
  margin-left: 10px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 9px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 8px;
  }
}

.item-cart {
  width: 25px;
  height: auto;
  margin-right: 5px;
}

.item-button {
  width: 100%;
  background-color: rgb(231, 128, 128);
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-button:hover {
  background-color: rgb(249, 103, 103);
  transform: scale(1.05);
  cursor: pointer;
}

.modals {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 50px;
  background-color: rgb(217, 245, 242);
  padding: 20px 30px 20px;
  overflow: auto;
  overflow-x: hidden;
  z-index: 10;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    padding: 20px 10px 20px;
    max-height: 95vh;
    width: 80%;
    border-radius: 20px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    padding: 20px 10px 20px;
    width: 80%;
    border-radius: 20px;
    max-height: 95vh;
  }

  &__img-wrapper {
    width: 100%;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

  }

  &__img {
    height: 100%;
    width: auto;
  }

  &__title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 26px;
    font-family: $font-main;
    font-style: italic;
    font-weight: 900;
    text-align: center;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1023.98px) and (min-width: 768px) {
      font-size: 20px;
    }

  }

  &__decribtion {
    font-size: 20px;
    font-family: $font-main;
    line-height: 150%;
    font-weight: 500;
    text-align: justify;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
      font-size: 16px;
    }

    @media screen and (max-width: 1023.98px) and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__star {
    height: 30px;
    width: 30px;
  }

  &__rating-wrapper {
    width: 100%;
    display: flex;

  }

  &__rating {
    font-size: 25px;
    font-weight: 900;
    margin-left: 15px;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
      font-size: 20px;
    }

    @media screen and (max-width: 1023.98px) and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__close {
    cursor: pointer;
    padding: 10px 20px;
    margin-top: -30px;
  }

  &__reviews {
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #888888;
    margin-left: 10px;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
      font-size: 14px;
    }

    @media screen and (max-width: 1023.98px) and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__price {
    margin-left: auto;
    font-size: 40px;
    font-weight: 900;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
      font-size: 26px;
    }

    @media screen and (max-width: 1023.98px) and (min-width: 768px) {
      font-size: 26px;
    }
  }

  &__countstorage {
    align-self: start;
    font-family: $font-main;
    font-weight: 900;
    font-style: italic;
  }

  &__release {
    align-self: start;
    font-family: $font-main;
    font-size: larger;
  }

}


.price-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.header__bottom-right {
  width: 50%;
  background-image: url('assets/images/Header.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.header__bottom-left {
  width: 50%;
  margin: 85px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-right: 250px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    margin: 50px;
    padding-right: 80px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    margin: 30px;
    padding-right: 80px;
  }

}

.header-title-button {
  width: 265px;
  margin-top: 50px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 200px;
    margin-top: 40px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 150px;
    margin-top: 30px;
  }

}

.subtitle {
  max-width: 680px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 35px;
  color: #2b2626;
  margin-bottom: 50px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 18px;
    line-height: 28px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 14px;
    line-height: 20px;
  }

}

.title-main {
  font-family: $font-main;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  width: 600px;
  color: #2B2626;
  margin-bottom: 30px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 50px;
    line-height: 70px;
    width: 410px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 31px;
    line-height: 46px;
    width: 255px;
    margin-bottom: 10px;
  }

}

.reviews-item1 {
  position: relative;
  z-index: 3;
  margin-left: -30px;
  width: 60px;
  height: 60px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-left: -15px;
  }
}

.reviews-item2 {
  position: relative;
  z-index: 2;
  margin-left: -30px;
  width: 60px;
  height: 60px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 50px;
    height: 50px;
    margin-left: -25px;

  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-left: -15px;
  }
}

.reviews-item3 {
  position: relative;
  z-index: 1;
  margin-left: -30px;
  width: 60px;
  height: 60px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 50px;
    height: 50px;
    margin-left: -25px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-left: -15px;
  }
}

.reviews-item4 {
  position: relative;
  z-index: 0;
  width: 60px;
  height: 60px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 50px;
    height: 50px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}


.reviews-wrap {
  display: flex;
  margin-top: auto;
  width: 500px;

  .reviews-header {
    width: 180px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
  }

  .reviews-wrap-count {
    width: 110px;
    justify-self: center;
    align-self: center;
    font-family: $font-main;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: #2B2626;

    @media screen and (max-width: 1439px) and (min-width: 1024px) {
      font-size: 20px;
      line-height: 25px;

    }

    @media screen and (max-width: 1023.98px) and (min-width: 768px) {
      font-size: 15px;
      line-height: 20px;
    }

  }

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 250px;
    margin-top: 50px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 250px;
    margin-top: 30px;
  }

}

.cards {
  width: 83%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 20px;
  justify-content: center;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    gap: 25px;
    padding: 0px 15px
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    gap: 10px;
    padding: 0px 15px
  }
}




.alert-danger {
  width: 50%;
  border-radius: 5px;
  background-color: #d6a4a4b6;
  color: rgb(100, 19, 19);
  font-size: 24px;
  padding: 20px;
  margin: 0 auto;


}

.alert-window {
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  background-color: #0000006c;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000008e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 8;
  overflow: hidden;

}

.checkbox__label,
.check-category__label,
.check-year__label {
  width: 150px;
  position: relative;
  left: 30px;
  top: -20px;
  font-family: $font-main;
  color: rgb(4, 112, 76);
  font-weight: 700;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 12px;
    left: 25px;
    top: -16px;

  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 12px;
    left: 25px;
    top: -16px;

  }


}

.checkboxes-category {
  display: flex;
  flex-direction: column;
  width: 20px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  width: 20px;
}

.checkboxes-year {
  display: flex;
  flex-direction: column;
  width: 20px;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}


.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}


.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: #3FB8AF;
}


.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}


.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}


[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}


.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}


.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}


.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin>.noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin>.noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.range-container {
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.ranger-wrapper {
  display: flex;
  justify-content: space-between;
}

.span-slider-min,
.span-slider-max {
  border: 1px solid rgb(175, 174, 174);
  border-radius: 5px;
  padding: 5px;
  font-family: $font-main;
}

.rate-container {
  width: 98%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.rate-wrapper {
  display: flex;
  justify-content: space-between;
}

.rate-slider-min,
.rate-slider-max {
  border: 1px solid rgb(175, 174, 174);
  border-radius: 5px;
  padding: 5px;
  font-family: $font-main;
  display: flex;
  align-items: center;
}

.range-star {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(#a1f5ba),
      to(#83e6bd));
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);

}

::-webkit-scrollbar-track {
  background-color: rgb(240, 240, 240);
}


.az {
  width: 20px;
  height: 25px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 10px;
    height: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 10px;
    height: 15px;
  }
}

.za {
  width: 15px;
  height: 25px;
  margin: 0 0;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 10px;
    height: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 10px;
    height: 15px;
  }
}

.btn {
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 9px;
    height: 35px;
    letter-spacing: 1.5px;
    padding: 0.3rem 0.5rem;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 8px;
    height: 30px;
    letter-spacing: 1.0px;
  }
}

.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-reset:hover {
  background-color: #e5432e;
  box-shadow: 0px 15px 20px rgba(146, 27, 11, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.min {
  width: 30px;
  height: 30px;
  transform: scale(1, -1);

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }
}

.max {
  width: 30px;
  height: 30px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }
}

.calendar {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  filter: brightness(0) saturate(100%) invert(41%) sepia(1%) saturate(1905%) hue-rotate(23deg) brightness(94%) contrast(76%);

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 20px;
    height: 20px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 15px;
    height: 15px;
  }
}

.sort-rating {
  width: 15px;
  height: 20px;
  margin-left: -3px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 10px;
    height: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 10px;
    height: 15px;
  }
}

.sort-rating-down {
  width: 15px;
  height: 20px;
  margin-left: -3px;
  transform: rotate(180deg);

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 10px;
    height: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 10px;
    height: 15px;
  }
}

.sort-up {
  width: 18px;
  height: 20px;
  margin-left: -3px;
  transform: rotate(180deg);

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 10px;
    height: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 10px;
    height: 15px;
  }
}

.sort-down {
  width: 18px;
  height: 20px;
  margin-left: -2px;
  transform: rotate(180deg);

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    width: 10px;
    height: 15px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    width: 10px;
    height: 15px;
  }

}

.header__cart-alert {
  position: fixed;
  top: 10vh;
  right: 0%;
}


.check-title {
  font-family: $font-main;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  color: #2B2626;
  margin-bottom: 25px;
  margin-top: 10px;

  @media screen and (max-width: 1439px) and (min-width: 1024px) {
    font-size: 14px;
  }

  @media screen and (max-width: 1023.98px) and (min-width: 768px) {
    font-size: 14px;
  }

}


.reset-container {
  margin: 20px 0;
}