$color-primary: #f1cdb3;
$color-light-xl: #ffffff;
$color-dark-s: #cdcdcd;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$font_Headings: Georgia, "Times New Roman", Times, serif;
$font_text: Arial, Helvetica, sans-serif;
