@font-face {
  font-family: "Georgia";
  src: url(../../assets/fonts/Georgia/georgia.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(../../assets/fonts/Arial/arial.ttf);
}

html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1cdb3;
}

.wrapper_mainpages {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 184px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo .logo_title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  color: #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.0547em;
  line-height: 110%;
  padding-bottom: 10px;
}

.logo .logo_subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  line-height: 15px;
  text-indent: 3.8px;
}

.header_main-pages {
  max-width: 1280px;
  padding: 60px 40px 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 180px;
  background-image: url(../../assets/images/start_screen.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
  .header_main-pages {
    padding: 30px 30px 30px 30px;
    height: 120px;
    background-image: url(../../assets/images/start_screen_768.png);
  }
}

@media screen and (max-width: 767px) {
  .header_main-pages {
    padding: 31px 30px 30px 10px;
    background-image: url(../../assets/images/start_screen_320.png);
  }
}

.nav_main-pages {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 443px;
}

.nav_main-pages .logo_burger {
  display: none;
  position: relative;
  top: 33px;
  left: 11px;
}

.nav_main-pages .list_main-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .nav_main-pages .list_main-pages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 192px;
  }
}

.nav_main-pages .list_main-pages .nav_link {
  font-family: Arial;
  color: #cdcdcd;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.nav_main-pages .list_main-pages .nav_link:hover {
  color: #fafafa;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav_main-pages .list_main-pages .nav_link:active {
  color: #fafafa;
}

@media screen and (max-width: 767px) {
  .nav_main-pages .list_main-pages .nav_link {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1279px) {
  .nav_main-pages {
    margin-top: -1px;
  }
}

@media screen and (max-width: 767px) {
  .nav_main-pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: -120%;
    width: 320px;
    height: 100vh;
    background-color: #292929;
    z-index: 7;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 1.5s;
    transition: 1.5s;
  }
}

@media screen and (max-width: 767px) {
  .list_items {
    margin-bottom: 41px;
  }
}

.active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
  color: #fafafa !important;
}

.main_main-pages {
  width: 100%;
}

.start_screen {
  width: 100%;
  height: 728px;
  background-image: url(../../assets/images/start_screen.jpg);
  background-position: center -180px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .start_screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-image: url(../../assets/images/start_screen_768.png);
    margin-top: -2px;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    background-position: 0;
  }
}

@media screen and (max-width: 767px) {
  .start_screen {
    padding-left: 10px;
    padding-right: 10px;
    background-image: url(../../assets/images/start_screen_320.png);
  }
}

@media (max-width: 767px) and (min-width: 460px) {
  .start_screen {
    background-position: 0px 0px;
  }
}

.puppy_start {
  width: 100%;
  height: auto;
}

.start_screen_content {
  width: 460px;
  margin-top: 163px;
}

@media screen and (max-width: 1279px) {
  .start_screen_content {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.start_screen_content .start_screen_heading {
  width: 310px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
  margin-top: 2px;
  line-height: 127%;
  margin-bottom: 42px;
}

@media screen and (max-width: 1279px) {
  .start_screen_content .start_screen_heading {
    margin-top: 4px;
  }
}

@media screen and (max-width: 767px) {
  .start_screen_content .start_screen_heading {
    font-size: 25px;
    width: 230px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 42px;
    letter-spacing: 1.5px;
    margin-top: 3px;
  }
}

.start_screen_content .start_screen_subheading {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  font-weight: normal;
  color: #cdcdcd;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .start_screen_content .start_screen_subheading {
    margin-top: 4px;
  }
}

@media screen and (max-width: 767px) {
  .start_screen_content .start_screen_subheading {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }
}

.start_screen_content .start_screen_button {
  margin-top: 42px;
}

@media screen and (max-width: 1279px) {
  .start_screen_content .start_screen_button {
    padding: 0 126px;
  }
}

@media screen and (max-width: 768px) {
  .start_screen_content .start_screen_button {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .start_screen_content {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

.make_friends {
  text-decoration: none;
  color: #292929;
}

.button_primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #f1cdb3;
  padding: 16px 45px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -2px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_primary:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.pets-button .button_primary {
  width: 261px;
}

@media screen and (max-width: 767px) {
  .pets-button .button_primary {
    margin-top: -7px;
  }
}

@media screen and (max-width: 1279px) {
  .button_primary {
    padding: 14px 45px;
  }
}

.pets-button-link {
  text-decoration: none;
  color: #000;
}

.start_screen_puppy {
  content: "";
  width: 698px;
  height: 728px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1279px) {
  .start_screen_puppy {
    background-position: 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-left: 139px;
  }
}

@media screen and (max-width: 899px) {
  .start_screen_puppy {
    width: 80.4%;
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (max-width: 767px) {
  .start_screen_puppy {
    width: 74%;
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 4px;
  }
}

@media screen and (max-width: 320px) {
  .start_screen_puppy {
    width: 260px;
    height: auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.about {
  width: 100%;
  height: 588px;
  background-color: #ffffff;
  padding: 80px 40px 100px 40px;
}

@media screen and (max-width: 1279px) {
  .about {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 42px 10px 42px 10px;
  }
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 175px;
}

@media screen and (max-width: 1279px) {
  .about .about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 0;
    margin: 0 auto;
  }
}

.about .about-content .about_pets {
  content: "";
  width: 300px;
  height: 408px;
  background-image: url(../../assets/images/about-pets.png);
  background-size: 300px auto;
  background-repeat: no-repeat;
  margin-right: 120px;
}

@media screen and (max-width: 1279px) {
  .about .about-content .about_pets {
    margin: 0 auto;
    margin-top: 80px;
  }
}

@media screen and (max-width: 767px) {
  .about .about-content .about_pets {
    width: 260px;
    height: 353px;
    margin: auto;
    background-size: cover;
    margin-top: 45px;
  }
}

.about .about-content .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
}

@media screen and (max-width: 1279px) {
  .about .about-content .about-text {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .about .about-content .about-text {
    width: 300px;
    margin: auto;
  }
}

.about .about-content .about-text .about_heading {
  width: 370px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 14px;
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .about .about-content .about-text .about_heading {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .about .about-content .about-text .about_heading {
    font-size: 25px;
    width: 250px;
    margin: 25px auto;
    text-align: center;
    margin: 1px auto 0px auto;
  }
}

.about .about-content .about-text .about-span1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .about .about-content .about-text .about-span1 {
    width: 270px;
    margin: 25px auto;
    text-align: justify;
  }
}

.about .about-content .about-text .about-span2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
}

@media screen and (max-width: 767px) {
  .about .about-content .about-text .about-span2 {
    width: 270px;
    margin: 25px auto;
    text-align: justify;
    margin: -4px auto;
  }
}

.pets {
  width: 100%;
  height: 877px;
  background-color: #f6f6f6;
  padding: 80px 40px 100px 40px;
}

@media screen and (max-width: 1279px) {
  .pets {
    padding: 81px 20px 100px 20px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .pets {
    padding: 43px 10px 52px 10px;
    overflow: hidden;
    height: auto;
  }
}

.pets-content {
  width: 100%;
  height: 697px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets_heading {
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .pets_heading {
    font-size: 25px;
    width: 286px;
    margin: 0 auto;
    margin-bottom: 39px;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 435px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .slider {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.slider .pets_card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  margin: 0 45px;
  border-radius: 9px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1279px) {
  .slider .pets_card {
    min-width: 270px;
    margin: 0 auto;
  }
  .slider .pets_card:nth-child(1) {
    margin-top: 0px;
    margin-left: 3px;
  }
  .slider .pets_card:nth-child(2) {
    margin-top: 0px;
    margin-left: 3px;
  }
  .slider .pets_card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .slider .pets_card {
    margin-bottom: 20px;
  }
  .slider .pets_card:nth-child(2) {
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 19px;
  }
}

.slider .pets_card:hover {
  -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  background-color: #ffffff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slider .pets_card:hover .button_secondary {
  background-color: #fddcc4;
}

@media screen and (max-width: 767px) {
  .slider {
    width: 270px;
    min-height: 507px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 42px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn-left {
  margin-right: 8px;
}

@media screen and (max-width: 1279px) {
  .btn-left {
    margin-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .btn-left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 130px;
    margin-top: -55px;
    position: relative;
    z-index: 5;
  }
}

.btn-right {
  margin-left: 8px;
}

@media screen and (max-width: 1279px) {
  .btn-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .btn-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: relative;
    top: -50px;
    left: 60px;
  }
}

@media screen and (mn-width: 767px) {
  div.pets_button {
    margin-top: -8px;
  }
}

@media screen and (max-width: 767px) {
  div.pets_card.pets_card2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .pets_card3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 767px) {
  .pets_card3 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: none;
  }
}

/*
.pets_card2 {
  
    @media screen  and (max-width: 767px){               
     order: 3;
      display: none;   
    }
}*/
@media screen and (max-width: 767px) {
  .div.pets_card.pets_card1 {
    margin: 0 auto;
  }
}

.button_secondary {
  width: 187px;
  height: 52px;
  padding: 15px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: none;
  cursor: pointer;
  /*&:hover {
    background-color: $color-primary-light;
    transition-duration: 0.2s;
  }*/
}

.card-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.card-image {
  margin-bottom: 32px;
  width: 99%;
  border-radius: 9px;
}

.button-arow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  background: none;
}

.button-arow:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.help {
  width: 100%;
  height: 611px;
  background-color: #ffffff;
  padding: 80px 40px 100px 40px;
}

@media screen and (max-width: 1279px) {
  .help {
    height: 780px;
    padding: 80px 66px 100px 67px;
  }
}

@media screen and (max-width: 767px) {
  .help {
    padding: 42px 15px 40px 15px;
    height: 745px;
  }
}

.help .help-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help .help-content .help-list {
  height: 331px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1026px;
  margin-left: auto;
  margin-right: auto;
}

.help .help-content .help-list .help-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 120px;
}

.help .help-content .help-list .help-icons img {
  margin-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .help .help-content .help-list .help-icons img {
    margin-bottom: 19px;
  }
}

.help .help-content .help-list .help-icons:nth-child(5) {
  margin-right: 0;
}

.help .help-content .help-list .help-icons:nth-child(9) {
  margin-right: 0;
}

.help .help-content .help-list .help-icons .help-list-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .help .help-content .help-list .help-icons .help-list-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 1279px) {
  .help .help-content .help-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 449px;
    gap: 55px;
  }
  .help .help-content .help-list .help-icons {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .help .help-content .help-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 555px;
    gap: 30px;
  }
  .help .help-content .help-list .help-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .help .help-content .help-list .help-icons img {
    width: 50px;
    height: 50px;
  }
}

.vit {
  margin-left: 84px;
}

.help-heading {
  width: 308px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.0567em;
  color: #545454;
  margin-bottom: 60px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .help-heading {
    margin-bottom: 42px;
    font-size: 25px;
    width: 220px;
  }
}

.donation {
  width: 100%;
  height: 462px;
  background-color: #f6f6f6;
  padding: 80px 182px 100px 183px;
}

@media screen and (max-width: 1279px) {
  .donation {
    height: auto;
    padding: 79px 60px 100px 60px;
  }
}

@media screen and (max-width: 767px) {
  .donation {
    padding: 42px 10px 42px 10px;
  }
}

.donation .donation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1279px) {
  .donation .donation-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.donation .donation-content .don-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 380px;
  height: 282px;
}

@media screen and (max-width: 1279px) {
  .donation .donation-content .don-content {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .donation .donation-content .don-content {
    width: 300px;
    margin-bottom: 41px;
  }
}

.donation .donation-content .don-content .don-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .donation .donation-content .don-content .don-heading {
    font-size: 25px;
    width: 227px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 23px;
  }
}

.don-image {
  margin-right: 30px;
  content: "";
  width: 505px;
  height: 275px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image: url(../../assets/images/donation-dog.png);
}

@media screen and (max-width: 1279px) {
  .don-image {
    margin-right: 0px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 767px) {
  .don-image {
    background-image: url(../../assets/images/donation-dog_320.png);
    width: 260px;
    height: 150px;
  }
}

.don-card {
  background-color: #f1cdb3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.don-card:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 1279px) {
  .don-card {
    margin-bottom: 19px;
  }
}

@media screen and (max-width: 767px) {
  .don-card {
    width: 281px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .number {
    width: 251px;
  }
}

.don-subheading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .don-subheading {
    letter-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 273px;
    margin-bottom: 24px;
  }
}

.don-information {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b2b2b2;
}

@media screen and (max-width: 767px) {
  .don-information {
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    text-align: justify;
  }
}

.footer_main-pages {
  width: 100%;
  background-image: url(../../assets/images/Footer.png);
  padding: 40px 40px 0 40px;
}

@media screen and (max-width: 1279px) {
  .footer_main-pages {
    background-image: url(../../assets/images/footer_768.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    margin-top: -5px;
    padding: 14px 5px 0 5px;
  }
}

@media screen and (max-width: 767px) {
  .footer_main-pages {
    background-image: url(../../assets/images/footer_320.jpg);
    padding: 0;
    overflow: visible;
    background-position: 0 0;
    background-size: cover;
  }
}

.footer_main-pages .footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1279px) {
  .footer_main-pages .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer_main-pages .footer-content .footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 740px;
  margin-right: 160px;
}

@media screen and (max-width: 1279px) {
  .footer_main-pages .footer-content .footer_contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 1279px) {
  .footer_main-pages .footer-content .footer_contacts {
    gap: 60px;
  }
}

.footer_main-pages .footer-content .footer_contacts .contact {
  width: 278px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer_main-pages .footer-content .footer_contacts .contact {
    margin: 0 auto;
  }
}

.footer_main-pages .footer-content .footer_contacts .location {
  width: 302px;
  height: 234px;
}

@media screen and (max-width: 767px) {
  .footer_main-pages .footer-content .footer_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
  }
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
  margin-bottom: 36px;
  margin-top: 17px;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 25px;
    width: 280px;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
  }
}

.loc-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 16px;
}

@media screen and (max-width: 1279px) {
  .loc-heading {
    margin-top: 18px;
  }
}

@media screen and (max-width: 767px) {
  .loc-heading {
    font-size: 25px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: -17px;
    margin-bottom: 40px;
  }
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.mail a {
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.mail a:hover {
  color: #fddcc4;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .mail {
    margin-top: 1px;
    margin-left: 13px;
  }
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.phone a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 767px) {
  .phone {
    margin-top: -1px;
    margin-left: 19px;
  }
}

.loc-boston {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.loc-boston a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-boston a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media screen and (max-width: 767px) {
  .loc-boston {
    margin-bottom: 37px;
  }
}

.boston-adr {
  margin-right: 0;
}

.loc-london {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loc-london a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-london a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.marg {
  margin-right: 20px;
}

@media screen and (max-width: 1279px) {
  .footer-puppy {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 65px;
    width: 300px;
    height: auto;
    margin-top: 81px;
  }
}

@media screen and (max-width: 767px) {
  .footer-puppy {
    width: 260px;
    height: auto;
    margin-top: 12px;
  }
}

.puppy_footer {
  width: 100%;
  height: auto;
}

.toggleButton {
  display: none;
}

@media screen and (max-width: 767px) {
  .toggleButton {
    display: block;
    position: absolute;
    top: 42px;
    right: 53px;
    z-index: 10;
  }
}

.owerlof {
  display: none;
}

.hide {
  display: block;
  position: absolute;
  width: 100%;
  height: 4979px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 5;
}

.burger-menu_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background-color: #292929;
  z-index: 7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*
  @media screen and (max-width: 374px) {
    width: 100%;
  }*/
}

.burger-menu_active .logo_burger {
  display: none;
  position: relative;
  top: 33px;
  left: 11px;
}

.toggleButton div,
.toggleButton:before,
.toggleButton:after {
  width: 30px;
  height: 3px;
  content: "";
  background-color: #f1cdb3;
  display: block;
  border-radius: 0px;
  margin: 7px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.active_menu {
  position: fixed;
  top: 41px;
  right: 43px;
}

.active_menu:before {
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
          transform: translateY(-50%) rotateZ(-90deg);
  margin-top: 20px;
  margin-left: 15px;
}

.active_menu:after {
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
          transform: translateY(-50%) rotateZ(-90deg);
  margin-top: -10px;
  margin-left: 36px;
}

.active_menu div {
  -webkit-transform: translateY(-50%) rotateZ(-90deg);
          transform: translateY(-50%) rotateZ(-90deg);
  margin-top: -10px;
  margin-left: 25px;
}

.logo_burger {
  display: none;
}

.carusel-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1279px) {
  .carusel-wrapper {
    padding: 0px 10px;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .carusel-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 290px;
  }
}

.slider {
  margin: 0 auto;
  left: -1080px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .slider {
    left: -620px;
  }
}

@media screen and (max-width: 767px) {
  .slider {
    left: -20px;
    height: 470px;
  }
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 550px;
  width: 1080px;
}

@media screen and (max-width: 1279px) {
  .slider-wrapper {
    max-width: 620px;
  }
}

@media screen and (max-width: 767px) {
  .slider-wrapper {
    max-width: 300px;
    height: 510px;
    width: 290px;
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .item {
    gap: 40px;
  }
  .item .pets_card:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .item {
    gap: 40px;
    margin-left: 5px;
  }
  .item .pets_card:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  #item-right {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1279px) {
  #item-left {
    margin-right: 40px;
  }
}

@-webkit-keyframes move-right {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

@keyframes move-right {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}

.transition-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

@keyframes move-left {
  from {
    left: -1080px;
  }
  to {
    left: 0px;
  }
}

.transition-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@media screen and (max-width: 1279px) {
  @-webkit-keyframes move-right {
    from {
      left: -620x;
    }
    to {
      left: -1240px;
    }
  }
  @keyframes move-right {
    from {
      left: -620x;
    }
    to {
      left: -1240px;
    }
  }
  .transition-right {
    -webkit-animation-name: move-right;
            animation-name: move-right;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes move-left {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }
  @keyframes move-left {
    from {
      left: -620px;
    }
    to {
      left: 0px;
    }
  }
  .transition-left {
    -webkit-animation-name: move-left;
            animation-name: move-left;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}

@media screen and (max-width: 767px) {
  @-webkit-keyframes move-right {
    from {
      left: -20px;
    }
    to {
      left: -310px;
    }
  }
  @keyframes move-right {
    from {
      left: -20px;
    }
    to {
      left: -310px;
    }
  }
  .transition-right {
    -webkit-animation-name: move-right;
            animation-name: move-right;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  @-webkit-keyframes move-left {
    from {
      left: -20px;
    }
    to {
      left: 270px;
    }
  }
  @keyframes move-left {
    from {
      left: -20px;
    }
    to {
      left: 270px;
    }
  }
  .transition-left {
    -webkit-animation-name: move-left;
            animation-name: move-left;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}

.modal-window {
  width: 900px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: none;
  z-index: 500;
  border-radius: 9px;
}

@media screen and (max-width: 1279px) {
  .modal-window {
    width: 682px;
    height: 402px;
  }
}

@media screen and (max-width: 767px) {
  .modal-window {
    width: 271px;
    height: 392px;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 400;
}

.modal-close-button {
  width: 52px;
  height: 52px;
  background-image: url(../../assets/images/modal_close_button.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  right: -52px;
  top: -52px;
}

.modal-close-button:hover {
  background-color: #fddcc4;
  border-radius: 50px;
  position: absolute;
  right: -52px;
  top: -52px;
}

.modal-content {
  width: 900px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 19px;
}

@media screen and (max-width: 1279px) {
  .modal-content {
    width: 630px;
  }
}

@media screen and (max-width: 767px) {
  .modal-content {
    width: 240px;
    padding: 10px;
  }
}

.modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  margin-top: 50px;
}

@media screen and (max-width: 1279px) {
  .modal-info {
    margin-top: 10px;
    margin-right: 9px;
  }
}

.pets_card.activated {
  background: #ccc;
}

.modal-image {
  width: 500px;
  height: 500px;
  margin-right: 29px;
  border-radius: 9px;
}

@media screen and (max-width: 1279px) {
  .modal-image {
    width: 350px;
    height: 350px;
    margin-right: 11px;
  }
}

@media screen and (max-width: 767px) {
  .modal-image {
    display: none;
  }
}

.modal-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .modal-title {
    text-align: center;
  }
}

.modal-subtitle {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
}

@media screen and (max-width: 1279px) {
  .modal-subtitle {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .modal-subtitle {
    text-align: center;
  }
}

.modal-description {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 40px;
}

@media screen and (max-width: 1279px) {
  .modal-description {
    margin-bottom: 20px;
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .modal-description {
    text-align: justify;
  }
}

.modal-list {
  list-style: #f1cdb3;
  margin-left: 20px;
}

.modal-list-item {
  color: #f1cdb3;
  margin-bottom: 11px;
}

@media screen and (max-width: 1279px) {
  .modal-list-item {
    margin-bottom: 6px;
  }
}

.list-span-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #000000;
}

.list-span-info {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  color: #000000;
}

.close-button-hover {
  background-color: #fddcc4;
  border-radius: 50px;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */