@font-face {
  font-family: "Georgia";
  src: url(/shelter/assets/fonts/Georgia/georgia.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(/shelter/assets/fonts/Arial.ttf);
}

html,
body,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
}

.wrapper_mainpages {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  width: 184px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo .logo_title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  color: #f1cdb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  line-height: 110%;
  padding-bottom: 10px;
}

.logo .logo_subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  line-height: 15px;
}

.header_main-pages {
  width: 100%;
  max-width: 1280px;
  padding: 60px 40px 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 180px;
  background-image: url(/shelter/assets/images/start_screen.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav_main-pages {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 443px;
}

.nav_main-pages .list_main-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_main-pages .list_main-pages .nav_link {
  font-family: Arial;
  color: #cdcdcd;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.nav_main-pages .list_main-pages .nav_link:hover {
  color: #fafafa;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.nav_main-pages .list_main-pages .nav_link:active {
  color: #fafafa;
}

.active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 2px;
  color: #fafafa !important;
}

.main_main-pages {
  width: 100%;
}

.start_screen {
  width: 100%;
  height: 728px;
  background-image: url(/shelter/assets/images/start_screen.jpg);
  background-position: center -180px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20px;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start_screen_content {
  width: 460px;
  margin-top: 163px;
}

.start_screen_content .start_screen_heading {
  width: 310px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 44px;
  color: #ffffff;
  margin-top: 22px;
  line-height: 127%;
  margin-bottom: 42px;
}

.start_screen_content .start_screen_subheading {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  color: #cdcdcd;
  line-height: 160%;
}

.start_screen_content .start_screen_button {
  margin-top: 42px;
}

.button_primary {
  width: 207px;
  height: 52px;
  border-radius: 100px;
  background-color: #f1cdb3;
  padding: 15px 45px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -2px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_primary:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.pets-button .button_primary {
  width: 261px;
}

.start_screen_puppy {
  content: "";
  width: 698px;
  height: 728px;
  background-image: url(/shelter/assets/images/start-screen-puppy.png);
  background-position: 0px 20px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.about {
  width: 100%;
  height: 588px;
  background-color: #ffffff;
  padding: 80px 40px 100px 40px;
}

.about .about-content {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 175px;
}

.about .about-content .about_pets {
  content: "";
  width: 300px;
  height: 408px;
  background-image: url(/shelter/assets/images/about-pets.png);
  background-size: 300px auto;
  background-repeat: no-repeat;
  margin-right: 120px;
}

.about .about-content .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
}

.about .about-content .about-text .about_heading {
  width: 370px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 14px;
  margin-bottom: 24px;
}

.about .about-content .about-text .about-span1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
  margin-bottom: 25px;
}

.about .about-content .about-text .about-span2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
}

.pets {
  width: 100%;
  height: 877px;
  background-color: #f6f6f6;
  padding: 80px 40px 100px 40px;
}

.pets-content {
  width: 1200px;
  height: 697px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets_heading {
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 0;
  margin-bottom: 0;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 435px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .pets_card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  margin: 0 45px;
}

.slider .pets_card:hover {
  border: 2px solid #f1cdb3;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
}

.button_secondary {
  width: 187px;
  height: 52px;
  padding: 13px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f1cdb3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-indent: -3px;
  color: #292929;
  background-color: #ffffff;
  cursor: pointer;
}

.button_secondary:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.card-title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 30px;
}

.card-image {
  margin-bottom: 32px;
  width: 99%;
}

.button-arow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  background-color: #ffffff;
}

.button-arow:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.btn-left {
  margin-right: 8px;
}

.btn-right {
  margin-left: 8px;
}

.help {
  width: 100%;
  height: 611px;
  background-color: #ffffff;
  padding: 80px 40px 100px 40px;
}

.help .help-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help .help-content .help-list {
  height: 331px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1026px;
  margin-left: auto;
  margin-right: auto;
}

.help .help-content .help-list .help-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 120px;
}

.help .help-content .help-list .help-icons img {
  margin-bottom: 30px;
}

.help .help-content .help-list .help-icons:nth-child(5) {
  margin-right: 0;
}

.help .help-content .help-list .help-icons:nth-child(9) {
  margin-right: 0;
}

.help .help-content .help-list .help-icons .help-list-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #545454;
}

.vit {
  margin-left: 84px;
}

.help-heading {
  width: 308px;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.055em;
  color: #545454;
  margin-bottom: 60px;
  margin-top: 0;
}

.donation {
  width: 100%;
  height: 462px;
  background-color: #f6f6f6;
  padding: 80px 182px 100px 183px;
}

.donation .donation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.donation .donation-content .don-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 380px;
  height: 282px;
}

.donation .donation-content .don-content .don-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
}

.don-image {
  margin-right: 30px;
  content: "";
  width: 505px;
  height: 275px;
  background-repeat: no-repeat;
  background-position: center 10px;
  background-image: url(/shelter/assets/images/donation-dog.png);
}

.don-card {
  background-color: #f1cdb3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.don-card:hover {
  background-color: #fddcc4;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.don-subheading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.don-information {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b2b2b2;
}

.footer_main-pages {
  width: 100%;
  height: 350px;
  background-image: url(/shelter/assets/images/Footer.png);
  padding: 40px 40px 0 40px;
}

.footer_main-pages .footer-content {
  width: 1200px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_main-pages .footer-content .contact {
  width: 278px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_main-pages .footer-content .location {
  width: 302px;
  height: 234px;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #ffffff;
  margin-bottom: 39px;
  margin-top: 17px;
}

.loc-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 18px;
}

.mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.mail a {
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.mail a:hover {
  color: #fddcc4;
  text-decoration: underline;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.phone a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.loc-boston {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.loc-boston a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-boston a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.boston-adr {
  margin-right: 0;
}

.loc-london {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loc-london a {
  text-decoration: none;
  color: #f1cdb3;
  text-decoration: none;
  color: #f1cdb3;
  font-family: Georgia;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.loc-london a:hover {
  color: #fddcc4;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.marg {
  margin-right: 20px;
}
/*# sourceMappingURL=styles.css.map */