@import './components/cars/cars.scss';
@import './components/winner/winner.scss';
@import './components/generator/generator.scss';

.app {
  background: #272525;

  &__switch {
    margin: 1rem;
    display: flex;
    gap: 1rem;
  }

  &__garage {
    padding: 10px;
  }

  &__winners {
    padding-left: 5px;
  }

}


.btn-select {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  &:disabled {
    background-color: lighten($color: #c2fbd7, $amount: 10);
    cursor: default;
    box-shadow: none;
    transform: none;
  }

  @media screen and (max-width: 600px) {
    padding: 3px 10px;
    font-size: 12px;
  }
}














